body {
    	  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    background-color: #00ffe3;
}

.wideleftmargin {
	padding: 5% 5% 5% 25%;
}

.bottomrule {
	border-bottom: 1px solid #000000;
	}

.green {
	background-color: green;
	}

p {
	font-size: 1.2em;
	color: #000000;
    background-color: #ffffff;
    padding:2%;
    border-bottom: 5px solid #000000;
 margin-right: 5%;
}

h1 {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 8em;
	color: purple;
    position:fixed;
    margin-top:0;
    margin-bottom:0;
    line-height:80%;
	}

.bkgimage {
    width: 50%;
    height: 50vh;
    position: fixed;
    z-index:-1;
    bottom:0;
    right:0;
        object-fit:contain;

}

.bkgimage:hover {
    z-index:2;
}

.bkgimage img {
    width:100%;
    height:auto;
    object-position: bottom;
}

p:hover {
    background-color:black;
    color:#00ffe3;
}


